<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MobileDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4292AADF1D6CFA650048DA3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4292AAF31D6CFA650048DA3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4292AAFE1D6CFA650048DA3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
